<div class="container-fluid d-flex homeImage" style=" height: 100vh;">
  <!--Align the child container to the parent-->
  <div class="container align-self-center">
    <!-- Center the childern -->
    <center>
      <div>
          <h1 class="text-center display-1 mx-auto largeText">
            {{!-- Holds the message that needs to be displayed to the user --}}
            <strong>{{message}}</strong>
          </h1>
      </div>
    </center>
  </div>
</div>